@media only screen and (max-width: 1335px) {
    .model-price-color-search,
    .mileage-components-search,
    .search-container button {
        flex-direction: column;
    }

    .order-by-select-box {
        transform: translateX(18%);
    }
}

@media only screen and (max-width: 1200px) {
    .starter-web {
        width: 100%;
        padding: 0 2%;
    }

    .comparison-nav ol {
        width: 100%;
        padding: 0 2%;
    }
}

@media only screen and (max-width: 1005px) {
    .top-nav ol {
        display: none;
    }

    ol:first-child {
        display: block !important;
    }

    .navbar-toggle .fa-bars {
        opacity: 1;
    }

    .stats-box {
        width: 100%;
        padding: 0 2%;
    }

    .login-box, .registry-box {
        display: none;
    }
}

@media only screen and (max-width: 665px) {
    .right-info {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        position: relative;
    }

    .stat-group {
        margin-bottom: 20px;
    }

    .order-by-select-box {
        transform: translateX(45%);
    }

    .submit-button {
        width: 300px;
    }
}

@media only screen and (min-width: 1006px) {
    .options-hamburger {
        display: none !important;
    }

    .hamburger-nav {
        display: none !important;
    }
}